In [1]:
import pandas as pd
import glob
import os

/Users/mariangelapetruzzi/opt/anaconda3/lib/python3.9/site-packages/pandas/core/computation/expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
/Users/mariangelapetruzzi/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.4' currently installed).
  from pandas.core import (

In [2]:
#data=pd.read_excel(r"Prices_Excel/CL/zenPrice_apple_iphone_11_64gb_202312211209.xlsx") 
data=pd.read_excel("Prices_Excel/CL/zenPrice_samsung_galaxy_s23_256gb_202312211056.xlsx",sheet_name='No Client') 

data

,zenPrice,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Date:,21/12/2023,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,Samsung Galaxy S23 256GB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Date,My price,Wom / Loyalty,Falabella / Loyalty,Lider / Loyalty,Paris / Loyalty,Abcdin / Loyalty,Claro / Loyalty,Mercado Libre / Loyalty,Aufbau / Loyalty,Mac Online / Loyalty,Ripley / Loyalty,Vtr / Loyalty,Movistar / Loyalty
3,20/12/2023,"$1,115,990","$840,000","$849,990","$839,990 / $839,990","$629,990","$799,990 / $799,990","$969,990",-,-,-,"$799,990",-,"$679,990"
4,19/12/2023,"$1,115,990","$840,000","$849,990","$839,990 / $839,990","$629,990","$799,990 / $799,990","$969,990",-,-,-,"$799,990",-,"$679,990"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
320,06/02/2023,"$1,091,760","$900,000","$999,990","$999,990","$999,990","$999,990",-,-,-,-,"$999,990",-,"$999,990"
321,05/02/2023,"$1,091,760","$900,000",-,"$999,990","$999,990","$999,990",-,-,-,-,"$999,990",-,-
322,04/02/2023,"$1,091,760",-,-,-,"$999,990",-,-,-,-,-,-,-,"$999,990"
323,03/02/2023,"$1,091,760","$900,000",-,"$999,990","$999,990","$999,990",-,-,-,-,"$999,990",-,"$999,990"
324,02/02/2023,"$1,091,760","$900,000",-,-,"$999,990","$999,990",-,-,-,-,"$999,990",-,"$999,990"

In [3]:
product=data.iloc[1, 2]
product=str(product)
product

'Samsung Galaxy S23 256GB'

In [22]:
def apresentar_primeiras_e_ultimas_com_reticencias(data):
    # Obter as 3 primeiras linhas
    primeiras_linhas = data.head(3)
    
    # Obter as 3 últimas linhas
    ultimas_linhas = data.tail(3)
    
    # Criar uma linha de reticências
    reticencias = pd.DataFrame({col: ['...'] for col in data.columns}, index=['...'])
    
    # Concatenar as partes
    apresentacao = pd.concat([primeiras_linhas, reticencias, ultimas_linhas])
    
    return apresentacao

In [5]:
data = data[2:]
data.reset_index(drop=True, inplace=True)
data.columns = data.iloc[0]
data = data.drop([0])
data.reset_index(drop=True, inplace=True)
data

,Date,My price,Wom / Loyalty,Falabella / Loyalty,Lider / Loyalty,Paris / Loyalty,Abcdin / Loyalty,Claro / Loyalty,Mercado Libre / Loyalty,Aufbau / Loyalty,Mac Online / Loyalty,Ripley / Loyalty,Vtr / Loyalty,Movistar / Loyalty
0,20/12/2023,"$1,115,990","$840,000","$849,990","$839,990 / $839,990","$629,990","$799,990 / $799,990","$969,990",-,-,-,"$799,990",-,"$679,990"
1,19/12/2023,"$1,115,990","$840,000","$849,990","$839,990 / $839,990","$629,990","$799,990 / $799,990","$969,990",-,-,-,"$799,990",-,"$679,990"
2,18/12/2023,"$1,115,990","$840,000","$849,990","$839,990 / $839,990","$629,990","$799,990 / $799,990","$969,990",-,-,-,"$799,990",-,"$679,990"
3,17/12/2023,"$1,115,990",-,"$849,990","$839,990 / $839,990","$629,990","$799,990 / $799,990","$969,990",-,-,-,"$764,990",-,"$679,990"
4,16/12/2023,"$1,115,990",-,"$849,990","$839,990 / $839,990","$629,990","$799,990 / $799,990","$969,990",-,-,-,"$799,990",-,"$679,990"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
317,06/02/2023,"$1,091,760","$900,000","$999,990","$999,990","$999,990","$999,990",-,-,-,-,"$999,990",-,"$999,990"
318,05/02/2023,"$1,091,760","$900,000",-,"$999,990","$999,990","$999,990",-,-,-,-,"$999,990",-,-
319,04/02/2023,"$1,091,760",-,-,-,"$999,990",-,-,-,-,-,-,-,"$999,990"
320,03/02/2023,"$1,091,760","$900,000",-,"$999,990","$999,990","$999,990",-,-,-,-,"$999,990",-,"$999,990"
321,02/02/2023,"$1,091,760","$900,000",-,-,"$999,990","$999,990",-,-,-,-,"$999,990",-,"$999,990"

In [23]:
apresentar_primeiras_e_ultimas_com_reticencias(data)

,Date,My price,Wom / Loyalty,Falabella / Loyalty,Lider / Loyalty,Paris / Loyalty,Abcdin / Loyalty,Claro / Loyalty,Mercado Libre / Loyalty,Aufbau / Loyalty,Mac Online / Loyalty,Ripley / Loyalty,Vtr / Loyalty,Movistar / Loyalty
0,20/12/2023,"$1,115,990","$840,000","$849,990","$839,990 / $839,990","$629,990","$799,990 / $799,990","$969,990",-,-,-,"$799,990",-,"$679,990"
1,19/12/2023,"$1,115,990","$840,000","$849,990","$839,990 / $839,990","$629,990","$799,990 / $799,990","$969,990",-,-,-,"$799,990",-,"$679,990"
2,18/12/2023,"$1,115,990","$840,000","$849,990","$839,990 / $839,990","$629,990","$799,990 / $799,990","$969,990",-,-,-,"$799,990",-,"$679,990"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
319,04/02/2023,"$1,091,760",-,-,-,"$999,990",-,-,-,-,-,-,-,"$999,990"
320,03/02/2023,"$1,091,760","$900,000",-,"$999,990","$999,990","$999,990",-,-,-,-,"$999,990",-,"$999,990"
321,02/02/2023,"$1,091,760","$900,000",-,-,"$999,990","$999,990",-,-,-,-,"$999,990",-,"$999,990"

In [24]:
columns_to_drop = []
for column in data.columns:
    if (data[column] == '-').all():
        columns_to_drop.append(column)

# Eliminar colunas com todos os elementos sendo '-'
if columns_to_drop:
    data.drop(columns=columns_to_drop, inplace=True)

# Mostrar o DataFrame resultante
data

,Date,My price,Wom / Loyalty,Falabella / Loyalty,Lider / Loyalty,Paris / Loyalty,Abcdin / Loyalty,Claro / Loyalty,Ripley / Loyalty,Movistar / Loyalty
0,20/12/2023,"$1,115,990","$840,000","$849,990","$839,990 / $839,990","$629,990","$799,990 / $799,990","$969,990","$799,990","$679,990"
1,19/12/2023,"$1,115,990","$840,000","$849,990","$839,990 / $839,990","$629,990","$799,990 / $799,990","$969,990","$799,990","$679,990"
2,18/12/2023,"$1,115,990","$840,000","$849,990","$839,990 / $839,990","$629,990","$799,990 / $799,990","$969,990","$799,990","$679,990"
3,17/12/2023,"$1,115,990",-,"$849,990","$839,990 / $839,990","$629,990","$799,990 / $799,990","$969,990","$764,990","$679,990"
4,16/12/2023,"$1,115,990",-,"$849,990","$839,990 / $839,990","$629,990","$799,990 / $799,990","$969,990","$799,990","$679,990"
...,...,...,...,...,...,...,...,...,...,...
317,06/02/2023,"$1,091,760","$900,000","$999,990","$999,990","$999,990","$999,990",-,"$999,990","$999,990"
318,05/02/2023,"$1,091,760","$900,000",-,"$999,990","$999,990","$999,990",-,"$999,990",-
319,04/02/2023,"$1,091,760",-,-,-,"$999,990",-,-,-,"$999,990"
320,03/02/2023,"$1,091,760","$900,000",-,"$999,990","$999,990","$999,990",-,"$999,990","$999,990"
321,02/02/2023,"$1,091,760","$900,000",-,-,"$999,990","$999,990",-,"$999,990","$999,990"

In [25]:
apresentar_primeiras_e_ultimas_com_reticencias(data)

,Date,My price,Wom / Loyalty,Falabella / Loyalty,Lider / Loyalty,Paris / Loyalty,Abcdin / Loyalty,Claro / Loyalty,Ripley / Loyalty,Movistar / Loyalty
0,20/12/2023,"$1,115,990","$840,000","$849,990","$839,990 / $839,990","$629,990","$799,990 / $799,990","$969,990","$799,990","$679,990"
1,19/12/2023,"$1,115,990","$840,000","$849,990","$839,990 / $839,990","$629,990","$799,990 / $799,990","$969,990","$799,990","$679,990"
2,18/12/2023,"$1,115,990","$840,000","$849,990","$839,990 / $839,990","$629,990","$799,990 / $799,990","$969,990","$799,990","$679,990"
...,...,...,...,...,...,...,...,...,...,...
319,04/02/2023,"$1,091,760",-,-,-,"$999,990",-,-,-,"$999,990"
320,03/02/2023,"$1,091,760","$900,000",-,"$999,990","$999,990","$999,990",-,"$999,990","$999,990"
321,02/02/2023,"$1,091,760","$900,000",-,-,"$999,990","$999,990",-,"$999,990","$999,990"

In [26]:
companies=data.columns
companies = companies.drop(companies[0])
companies_list = companies.tolist()
companies_list

['My price',
 'Wom / Loyalty',
 'Falabella / Loyalty',
 'Lider / Loyalty',
 'Paris / Loyalty',
 'Abcdin / Loyalty',
 'Claro / Loyalty',
 'Ripley / Loyalty',
 'Movistar / Loyalty']

In [27]:
df_products_companies = pd.DataFrame({product: companies_list})
df_products_companies

  Samsung Galaxy S23 256GB
0                 My price
1            Wom / Loyalty
2      Falabella / Loyalty
3          Lider / Loyalty
4          Paris / Loyalty
5         Abcdin / Loyalty
6          Claro / Loyalty
7         Ripley / Loyalty
8       Movistar / Loyalty

# No Client

In [28]:
def df_products(path_of_product,sheet_name):
    data=pd.read_excel(p,sheet_name) 
    product=data.iloc[1, 2]
    product=str(product)
    data = data[2:]
    data.reset_index(drop=True, inplace=True)
    data.columns = data.iloc[0]
    data = data.drop([0])
    data.reset_index(drop=True, inplace=True)
    columns_to_drop = []
    for column in data.columns:
        if (data[column] == '-').all():
            columns_to_drop.append(column)
    if columns_to_drop:
        data.drop(columns=columns_to_drop, inplace=True)

    companies=data.columns
    companies = companies.drop(companies[0])
    companies_list = companies.tolist()
    df_products_companies = pd.DataFrame({product: companies_list})
    
    return df_products_companies

In [29]:


path = "Prices_Excel/CL/"  
list_product = glob.glob(path + "/*.xlsx")
list_product

['Prices_Excel/CL/zenPrice_apple_iphone_14_plus_128gb_202312211141.xlsx',
 'Prices_Excel/CL/zenPrice_samsung_galaxy_s23_256gb_202312211056.xlsx',
 'Prices_Excel/CL/zenPrice_apple_iphone_13_128gb_202312211203.xlsx',
 'Prices_Excel/CL/zenPrice_samsung_galaxy_z_fold4_256gb_5g_202312211119.xlsx',
 'Prices_Excel/CL/zenPrice_samsung_galaxy_z_flip4_256gb_5g_202312211200.xlsx',
 'Prices_Excel/CL/zenPrice_apple_iphone_14_pro_max_256gb_202312211108.xlsx',
 'Prices_Excel/CL/zenPrice_apple_iphone_14_pro_128gb_202312211109.xlsx',
 'Prices_Excel/CL/zenPrice_samsung_galaxy_s22_128gb_5g_202312211114.xlsx',
 'Prices_Excel/CL/zenPrice_apple_iphone_14_128gb_202312211112.xlsx',
 'Prices_Excel/CL/zenPrice_vivo_y16_64gb_202312211131.xlsx',
 'Prices_Excel/CL/zenPrice_motorola_moto_e22i_64gb_202312211127.xlsx',
 'Prices_Excel/CL/zenPrice_apple_iphone_11_128gb_202312211208.xlsx',
 'Prices_Excel/CL/zenPrice_apple_iphone_14_512gb_202312211106.xlsx',
 'Prices_Excel/CL/zenPrice_apple_iphone_11_64gb_202312211209.xlsx',
 'Prices_Excel/CL/zenPrice_apple_iphone_14_plus_256gb_202312211134.xlsx',
 'Prices_Excel/CL/zenPrice_samsung_galaxy_s22_256gb_5g_202312211114.xlsx',
 'Prices_Excel/CL/zenPrice_apple_iphone_14_pro_256gb_202312211111.xlsx',
 'Prices_Excel/CL/zenPrice_vivo_y22s_128gb_202312211055.xlsx',
 'Prices_Excel/CL/zenPrice_samsung_galaxy_a23_128gb_5g_202312211117.xlsx',
 'Prices_Excel/CL/zenPrice_apple_iphone_14_256gb_202312211108.xlsx',
 'Prices_Excel/CL/zenPrice_apple_iphone_14_pro_max_128gb_202312211130.xlsx']

In [30]:

df_complete=pd.DataFrame()


for p in list_product:
    
    

    df_products_companies=df_products(p,sheet_name='No Client') 
    
    
    df_complete = pd.concat([df_complete, df_products_companies], axis=1)

df_complete.to_excel('Prices_Excel/processed_data/CL/CL_No_Client.xlsx', index=False)
apresentar_primeiras_e_ultimas_com_reticencias(df_complete)

/var/folders/4p/q7_ch2s94c37xj9l5h3fltgh0000gn/T/ipykernel_13605/950026993.py:13: UserWarning: Pandas requires version '3.0.5' or newer of 'xlsxwriter' (version '3.0.3' currently installed).
  df_complete.to_excel('Prices_Excel/processed_data/CL/CL_No_Client.xlsx', index=False)

,Apple iPhone 14 Plus 128GB,Samsung Galaxy S23 256GB,Apple iPhone 13 128GB,Samsung Galaxy Z Fold4 256GB (5G),Samsung Galaxy Z Flip4 256GB (5G),Apple iPhone 14 Pro Max 256GB,Apple iPhone 14 Pro 128GB,Samsung Galaxy S22 128GB (5G),Apple iPhone 14 128GB,Vivo Y16 64GB,...,Apple iPhone 11 128GB,Apple iPhone 14 512GB,Apple iPhone 11 64GB,Apple iPhone 14 Plus 256GB,Samsung Galaxy S22 256GB (5G),Apple iPhone 14 Pro 256GB,Vivo Y22s 128GB,Samsung Galaxy A23 128GB (5G),Apple iPhone 14 256GB,Apple iPhone 14 Pro Max 128GB
0,My price,My price,My price,My price,My price,My price,My price,My price,My price,My price,...,My price,My price,My price,My price,My price,My price,My price,My price,My price,My price
1,Wom / Loyalty,Wom / Loyalty,Wom / Loyalty,Wom / Loyalty,Wom / Loyalty,Wom / Loyalty,Wom / Loyalty,Wom / Loyalty,Wom / Loyalty,Falabella / Loyalty,...,Wom / Loyalty,Wom / Loyalty,Wom / Loyalty,Wom / Loyalty,Wom / Loyalty,Wom / Loyalty,Wom / Loyalty,Wom / Loyalty,Wom / Loyalty,Wom / Loyalty
2,Falabella / Loyalty,Falabella / Loyalty,Falabella / Loyalty,Falabella / Loyalty,Falabella / Loyalty,Falabella / Loyalty,Falabella / Loyalty,Falabella / Loyalty,Falabella / Loyalty,Paris / Loyalty,...,Falabella / Loyalty,Falabella / Loyalty,Falabella / Loyalty,Falabella / Loyalty,Falabella / Loyalty,Falabella / Loyalty,Falabella / Loyalty,Falabella / Loyalty,Falabella / Loyalty,Falabella / Loyalty
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8,Ripley / Loyalty,Movistar / Loyalty,Mac Online / Loyalty,Movistar / Loyalty,Movistar / Loyalty,Ripley / Loyalty,Ripley / Loyalty,Movistar / Loyalty,Mac Online / Loyalty,NaN,...,NaN,NaN,Mac Online / Loyalty,Movistar / Loyalty,Movistar / Loyalty,Ripley / Loyalty,NaN,Movistar / Loyalty,Ripley / Loyalty,Ripley / Loyalty
9,Movistar / Loyalty,NaN,Ripley / Loyalty,NaN,NaN,Movistar / Loyalty,Movistar / Loyalty,NaN,Ripley / Loyalty,NaN,...,NaN,NaN,Ripley / Loyalty,NaN,NaN,Movistar / Loyalty,NaN,NaN,Movistar / Loyalty,Movistar / Loyalty
10,NaN,NaN,Movistar / Loyalty,NaN,NaN,NaN,NaN,NaN,Movistar / Loyalty,NaN,...,NaN,NaN,Movistar / Loyalty,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Postpaid New Line

In [12]:
df_complete=pd.DataFrame()


for p in list_product:
    
    

    df_products_companies=df_products(p,sheet_name='Postpaid New Line') 
    
    
    df_complete = pd.concat([df_complete, df_products_companies], axis=1)

df_complete.to_excel('Prices_Excel/processed_data/CL/CL_Postpaid_New_Line.xlsx', index=False)
df_complete

,Apple iPhone 14 Plus 128GB,Samsung Galaxy S23 256GB,Apple iPhone 13 128GB,Samsung Galaxy Z Fold4 256GB (5G),Samsung Galaxy Z Flip4 256GB (5G),Apple iPhone 14 Pro Max 256GB,Apple iPhone 14 Pro 128GB,Samsung Galaxy S22 128GB (5G),Apple iPhone 14 128GB,Vivo Y16 64GB,...,Apple iPhone 11 128GB,Apple iPhone 14 512GB,Apple iPhone 11 64GB,Apple iPhone 14 Plus 256GB,Samsung Galaxy S22 256GB (5G),Apple iPhone 14 Pro 256GB,Vivo Y22s 128GB,Samsung Galaxy A23 128GB (5G),Apple iPhone 14 256GB,Apple iPhone 14 Pro Max 128GB
0,My price,My price,My price,My price,My price,My price,My price,My price,My price,My price,...,My price,My price,My price,My price,My price,My price,My price,My price,My price,My price
1,Wom / Loyalty,Wom / Loyalty,Wom / Loyalty,Wom / Loyalty,Wom / Loyalty,Wom / Loyalty,Wom / Loyalty,Wom / Loyalty,Wom / Loyalty,Falabella / Loyalty,...,Wom / Loyalty,Wom / Loyalty,Wom / Loyalty,Wom / Loyalty,Wom / Loyalty,Wom / Loyalty,Wom / Loyalty,Wom / Loyalty,Wom / Loyalty,Wom / Loyalty
2,Falabella / Loyalty,Falabella / Loyalty,Falabella / Loyalty,Falabella / Loyalty,Falabella / Loyalty,Falabella / Loyalty,Falabella / Loyalty,Falabella / Loyalty,Falabella / Loyalty,Paris / Loyalty,...,Falabella / Loyalty,Falabella / Loyalty,Falabella / Loyalty,Falabella / Loyalty,Falabella / Loyalty,Falabella / Loyalty,Falabella / Loyalty,Falabella / Loyalty,Falabella / Loyalty,Falabella / Loyalty
3,Lider / Loyalty,Lider / Loyalty,Lider / Loyalty,Lider / Loyalty,Lider / Loyalty,Lider / Loyalty,Lider / Loyalty,Lider / Loyalty,Lider / Loyalty,Abcdin / Loyalty,...,Paris / Loyalty,Paris / Loyalty,Lider / Loyalty,Paris / Loyalty,Lider / Loyalty,Lider / Loyalty,Paris / Loyalty,Lider / Loyalty,Lider / Loyalty,Lider / Loyalty
4,Paris / Loyalty,Paris / Loyalty,Paris / Loyalty,Paris / Loyalty,Paris / Loyalty,Paris / Loyalty,Paris / Loyalty,Paris / Loyalty,Paris / Loyalty,Claro / Loyalty,...,Aufbau / Loyalty,Aufbau / Loyalty,Paris / Loyalty,Claro / Loyalty,Paris / Loyalty,Paris / Loyalty,Abcdin / Loyalty,Paris / Loyalty,Paris / Loyalty,Paris / Loyalty
5,Claro / Loyalty,Abcdin / Loyalty,Abcdin / Loyalty,Abcdin / Loyalty,Abcdin / Loyalty,Claro / Loyalty,Claro / Loyalty,Abcdin / Loyalty,Abcdin / Loyalty,Ripley / Loyalty,...,Mac Online / Loyalty,Mac Online / Loyalty,Abcdin / Loyalty,Aufbau / Loyalty,Abcdin / Loyalty,Claro / Loyalty,Claro / Loyalty,Abcdin / Loyalty,Claro / Loyalty,Claro / Loyalty
6,Aufbau / Loyalty,Claro / Loyalty,Claro / Loyalty,Claro / Loyalty,Claro / Loyalty,Aufbau / Loyalty,Aufbau / Loyalty,Claro / Loyalty,Claro / Loyalty,Movistar / Loyalty,...,Ripley / Loyalty,Movistar / Loyalty,Claro / Loyalty,Mac Online / Loyalty,Claro / Loyalty,Aufbau / Loyalty,Ripley / Loyalty,Claro / Loyalty,Aufbau / Loyalty,Aufbau / Loyalty
7,Mac Online / Loyalty,Ripley / Loyalty,Aufbau / Loyalty,Ripley / Loyalty,Ripley / Loyalty,Mac Online / Loyalty,Mac Online / Loyalty,Ripley / Loyalty,Aufbau / Loyalty,NaN,...,Movistar / Loyalty,NaN,Aufbau / Loyalty,Ripley / Loyalty,Ripley / Loyalty,Mac Online / Loyalty,Movistar / Loyalty,Ripley / Loyalty,Mac Online / Loyalty,Mac Online / Loyalty
8,Ripley / Loyalty,Movistar / Loyalty,Mac Online / Loyalty,Movistar / Loyalty,Movistar / Loyalty,Ripley / Loyalty,Ripley / Loyalty,Movistar / Loyalty,Mac Online / Loyalty,NaN,...,NaN,NaN,Mac Online / Loyalty,Movistar / Loyalty,Movistar / Loyalty,Ripley / Loyalty,NaN,Movistar / Loyalty,Ripley / Loyalty,Ripley / Loyalty
9,Movistar / Loyalty,NaN,Ripley / Loyalty,NaN,NaN,Movistar / Loyalty,Movistar / Loyalty,NaN,Ripley / Loyalty,NaN,...,NaN,NaN,Ripley / Loyalty,NaN,NaN,Movistar / Loyalty,NaN,NaN,Movistar / Loyalty,Movistar / Loyalty
10,NaN,NaN,Movistar / Loyalty,NaN,NaN,NaN,NaN,NaN,Movistar / Loyalty,NaN,...,NaN,NaN,Movistar / Loyalty,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Postpaid Renew

In [13]:
df_complete=pd.DataFrame()


for p in list_product:
    
    

    df_products_companies=df_products(p,sheet_name='Postpaid Renew') 
    
    
    df_complete = pd.concat([df_complete, df_products_companies], axis=1)

df_complete.to_excel('Prices_Excel/processed_data/CL/CL_Postpaid_Renew.xlsx', index=False)
df_complete

,Apple iPhone 14 Plus 128GB,Samsung Galaxy S23 256GB,Apple iPhone 13 128GB,Samsung Galaxy Z Fold4 256GB (5G),Samsung Galaxy Z Flip4 256GB (5G),Apple iPhone 14 Pro Max 256GB,Apple iPhone 14 Pro 128GB,Samsung Galaxy S22 128GB (5G),Apple iPhone 14 128GB,Vivo Y16 64GB,...,Apple iPhone 11 128GB,Apple iPhone 14 512GB,Apple iPhone 11 64GB,Apple iPhone 14 Plus 256GB,Samsung Galaxy S22 256GB (5G),Apple iPhone 14 Pro 256GB,Vivo Y22s 128GB,Samsung Galaxy A23 128GB (5G),Apple iPhone 14 256GB,Apple iPhone 14 Pro Max 128GB
0,My price,My price,My price,My price,My price,My price,My price,My price,My price,My price,...,My price,My price,My price,My price,My price,My price,My price,My price,My price,My price
1,Wom / Loyalty,Wom / Loyalty,Wom / Loyalty,Wom / Loyalty,Wom / Loyalty,Wom / Loyalty,Wom / Loyalty,Wom / Loyalty,Wom / Loyalty,Falabella / Loyalty,...,Wom / Loyalty,Wom / Loyalty,Wom / Loyalty,Wom / Loyalty,Wom / Loyalty,Wom / Loyalty,Wom / Loyalty,Wom / Loyalty,Wom / Loyalty,Wom / Loyalty
2,Falabella / Loyalty,Falabella / Loyalty,Falabella / Loyalty,Falabella / Loyalty,Falabella / Loyalty,Falabella / Loyalty,Falabella / Loyalty,Falabella / Loyalty,Falabella / Loyalty,Paris / Loyalty,...,Falabella / Loyalty,Falabella / Loyalty,Falabella / Loyalty,Falabella / Loyalty,Falabella / Loyalty,Falabella / Loyalty,Falabella / Loyalty,Falabella / Loyalty,Falabella / Loyalty,Falabella / Loyalty
3,Lider / Loyalty,Lider / Loyalty,Lider / Loyalty,Lider / Loyalty,Lider / Loyalty,Lider / Loyalty,Lider / Loyalty,Lider / Loyalty,Lider / Loyalty,Abcdin / Loyalty,...,Paris / Loyalty,Paris / Loyalty,Lider / Loyalty,Paris / Loyalty,Lider / Loyalty,Lider / Loyalty,Paris / Loyalty,Lider / Loyalty,Lider / Loyalty,Lider / Loyalty
4,Paris / Loyalty,Paris / Loyalty,Paris / Loyalty,Paris / Loyalty,Paris / Loyalty,Paris / Loyalty,Paris / Loyalty,Paris / Loyalty,Paris / Loyalty,Claro / Loyalty,...,Aufbau / Loyalty,Aufbau / Loyalty,Paris / Loyalty,Claro / Loyalty,Paris / Loyalty,Paris / Loyalty,Abcdin / Loyalty,Paris / Loyalty,Paris / Loyalty,Paris / Loyalty
5,Claro / Loyalty,Abcdin / Loyalty,Abcdin / Loyalty,Abcdin / Loyalty,Abcdin / Loyalty,Claro / Loyalty,Claro / Loyalty,Abcdin / Loyalty,Abcdin / Loyalty,Ripley / Loyalty,...,Mac Online / Loyalty,Mac Online / Loyalty,Abcdin / Loyalty,Aufbau / Loyalty,Abcdin / Loyalty,Claro / Loyalty,Claro / Loyalty,Abcdin / Loyalty,Claro / Loyalty,Claro / Loyalty
6,Aufbau / Loyalty,Claro / Loyalty,Claro / Loyalty,Claro / Loyalty,Claro / Loyalty,Aufbau / Loyalty,Aufbau / Loyalty,Claro / Loyalty,Claro / Loyalty,Movistar / Loyalty,...,Ripley / Loyalty,Movistar / Loyalty,Claro / Loyalty,Mac Online / Loyalty,Claro / Loyalty,Aufbau / Loyalty,Ripley / Loyalty,Claro / Loyalty,Aufbau / Loyalty,Aufbau / Loyalty
7,Mac Online / Loyalty,Ripley / Loyalty,Aufbau / Loyalty,Ripley / Loyalty,Ripley / Loyalty,Mac Online / Loyalty,Mac Online / Loyalty,Ripley / Loyalty,Aufbau / Loyalty,NaN,...,Movistar / Loyalty,NaN,Aufbau / Loyalty,Ripley / Loyalty,Ripley / Loyalty,Mac Online / Loyalty,Movistar / Loyalty,Ripley / Loyalty,Mac Online / Loyalty,Mac Online / Loyalty
8,Ripley / Loyalty,Movistar / Loyalty,Mac Online / Loyalty,Movistar / Loyalty,Movistar / Loyalty,Ripley / Loyalty,Ripley / Loyalty,Movistar / Loyalty,Mac Online / Loyalty,NaN,...,NaN,NaN,Mac Online / Loyalty,Movistar / Loyalty,Movistar / Loyalty,Ripley / Loyalty,NaN,Movistar / Loyalty,Ripley / Loyalty,Ripley / Loyalty
9,Movistar / Loyalty,NaN,Ripley / Loyalty,NaN,NaN,Movistar / Loyalty,Movistar / Loyalty,NaN,Ripley / Loyalty,NaN,...,NaN,NaN,Ripley / Loyalty,NaN,NaN,Movistar / Loyalty,NaN,NaN,Movistar / Loyalty,Movistar / Loyalty
10,NaN,NaN,Movistar / Loyalty,NaN,NaN,NaN,NaN,NaN,Movistar / Loyalty,NaN,...,NaN,NaN,Movistar / Loyalty,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Postpaid Portability

In [14]:
df_complete=pd.DataFrame()


for p in list_product:
    
    

    df_products_companies=df_products(p,sheet_name='Postpaid Portability') 
    
    
    df_complete = pd.concat([df_complete, df_products_companies], axis=1)

df_complete.to_excel('Prices_Excel/processed_data/CL/CL_Postpaid_Portability.xlsx', index=False)
df_complete

,Apple iPhone 14 Plus 128GB,Samsung Galaxy S23 256GB,Apple iPhone 13 128GB,Samsung Galaxy Z Fold4 256GB (5G),Samsung Galaxy Z Flip4 256GB (5G),Apple iPhone 14 Pro Max 256GB,Apple iPhone 14 Pro 128GB,Samsung Galaxy S22 128GB (5G),Apple iPhone 14 128GB,Vivo Y16 64GB,...,Apple iPhone 11 128GB,Apple iPhone 14 512GB,Apple iPhone 11 64GB,Apple iPhone 14 Plus 256GB,Samsung Galaxy S22 256GB (5G),Apple iPhone 14 Pro 256GB,Vivo Y22s 128GB,Samsung Galaxy A23 128GB (5G),Apple iPhone 14 256GB,Apple iPhone 14 Pro Max 128GB
0,My price,My price,My price,My price,My price,My price,My price,My price,My price,My price,...,My price,My price,My price,My price,My price,My price,My price,My price,My price,My price
1,Wom / Loyalty,Wom / Loyalty,Wom / Loyalty,Wom / Loyalty,Wom / Loyalty,Wom / Loyalty,Wom / Loyalty,Wom / Loyalty,Wom / Loyalty,Falabella / Loyalty,...,Wom / Loyalty,Wom / Loyalty,Wom / Loyalty,Wom / Loyalty,Wom / Loyalty,Wom / Loyalty,Wom / Loyalty,Wom / Loyalty,Wom / Loyalty,Wom / Loyalty
2,Falabella / Loyalty,Falabella / Loyalty,Falabella / Loyalty,Falabella / Loyalty,Falabella / Loyalty,Falabella / Loyalty,Falabella / Loyalty,Falabella / Loyalty,Falabella / Loyalty,Paris / Loyalty,...,Falabella / Loyalty,Falabella / Loyalty,Falabella / Loyalty,Falabella / Loyalty,Falabella / Loyalty,Falabella / Loyalty,Falabella / Loyalty,Falabella / Loyalty,Falabella / Loyalty,Falabella / Loyalty
3,Lider / Loyalty,Lider / Loyalty,Lider / Loyalty,Lider / Loyalty,Lider / Loyalty,Lider / Loyalty,Lider / Loyalty,Lider / Loyalty,Lider / Loyalty,Abcdin / Loyalty,...,Paris / Loyalty,Paris / Loyalty,Lider / Loyalty,Paris / Loyalty,Lider / Loyalty,Lider / Loyalty,Paris / Loyalty,Lider / Loyalty,Lider / Loyalty,Lider / Loyalty
4,Paris / Loyalty,Paris / Loyalty,Paris / Loyalty,Paris / Loyalty,Paris / Loyalty,Paris / Loyalty,Paris / Loyalty,Paris / Loyalty,Paris / Loyalty,Claro / Loyalty,...,Aufbau / Loyalty,Aufbau / Loyalty,Paris / Loyalty,Claro / Loyalty,Paris / Loyalty,Paris / Loyalty,Abcdin / Loyalty,Paris / Loyalty,Paris / Loyalty,Paris / Loyalty
5,Claro / Loyalty,Abcdin / Loyalty,Abcdin / Loyalty,Abcdin / Loyalty,Abcdin / Loyalty,Claro / Loyalty,Claro / Loyalty,Abcdin / Loyalty,Abcdin / Loyalty,Ripley / Loyalty,...,Mac Online / Loyalty,Mac Online / Loyalty,Abcdin / Loyalty,Aufbau / Loyalty,Abcdin / Loyalty,Claro / Loyalty,Claro / Loyalty,Abcdin / Loyalty,Claro / Loyalty,Claro / Loyalty
6,Aufbau / Loyalty,Claro / Loyalty,Claro / Loyalty,Claro / Loyalty,Claro / Loyalty,Aufbau / Loyalty,Aufbau / Loyalty,Claro / Loyalty,Claro / Loyalty,Movistar / Loyalty,...,Ripley / Loyalty,Movistar / Loyalty,Claro / Loyalty,Mac Online / Loyalty,Claro / Loyalty,Aufbau / Loyalty,Ripley / Loyalty,Claro / Loyalty,Aufbau / Loyalty,Aufbau / Loyalty
7,Mac Online / Loyalty,Ripley / Loyalty,Aufbau / Loyalty,Ripley / Loyalty,Ripley / Loyalty,Mac Online / Loyalty,Mac Online / Loyalty,Ripley / Loyalty,Aufbau / Loyalty,NaN,...,Movistar / Loyalty,NaN,Aufbau / Loyalty,Ripley / Loyalty,Ripley / Loyalty,Mac Online / Loyalty,Movistar / Loyalty,Ripley / Loyalty,Mac Online / Loyalty,Mac Online / Loyalty
8,Ripley / Loyalty,Movistar / Loyalty,Mac Online / Loyalty,Movistar / Loyalty,Movistar / Loyalty,Ripley / Loyalty,Ripley / Loyalty,Movistar / Loyalty,Mac Online / Loyalty,NaN,...,NaN,NaN,Mac Online / Loyalty,Movistar / Loyalty,Movistar / Loyalty,Ripley / Loyalty,NaN,Movistar / Loyalty,Ripley / Loyalty,Ripley / Loyalty
9,Movistar / Loyalty,NaN,Ripley / Loyalty,NaN,NaN,Movistar / Loyalty,Movistar / Loyalty,NaN,Ripley / Loyalty,NaN,...,NaN,NaN,Ripley / Loyalty,NaN,NaN,Movistar / Loyalty,NaN,NaN,Movistar / Loyalty,Movistar / Loyalty
10,NaN,NaN,Movistar / Loyalty,NaN,NaN,NaN,NaN,NaN,Movistar / Loyalty,NaN,...,NaN,NaN,Movistar / Loyalty,NaN,NaN,NaN,NaN,NaN,NaN,NaN